<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

<body bgcolor="#f6f6f6" style="font-family: Arial, Helvetica, sans-serif; color:#000000;font-size: 10.5pt;">
<table cellpadding="0" cellspacing="0" width="100%" style="background-color: #f6f6f6;padding: 0 7.5pt;margin: 0;width: 100%;">
	<tbody>
		<tr>
			<td>
				<table width="100%" cellspacing="0" cellpadding="0" align="center" style="background-color: #f6f6f6;font-family: Arial, Helvetica, sans-serif; color:#000000;">
<!-- Module Header -->
					<tr>
						<td style="height: 20px;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" cellpadding="0" cellspacing="0" valign="middle" style="vertical-align: middle;">
								<tr>
									<td style="width: 30px;">
										&nbsp;
									</td>
									<td height="50" style="height: 50px;">													
										<%= email_image_tag("HPE_eNewsletter_logo.png", border: "0", style: "font-weight: bold;font-size: 9pt;font-family: Arial, Helvetica, sans-serif; color:#000000;", align: "left", vspace: "0", hspace: "0", width: "119", height: "50", alt:"HPE Insider") %>
									</td>
									<td width="440" align="right">													
										<span style="text-align: right;font-weight: bold;font-size: 10.5pt;font-family: Arial, Helvetica, sans-serif; color:#000000; line-height: 12pt; ">
											Rocket
										</span><br />											
										<span style="text-align: right;font-weight: normal;font-size: 10.5pt;font-family: Arial, Helvetica, sans-serif; color:#000000; line-height: 12pt; ">
											GreenLake Customer Portal
										</span>
									</td>
									<td style="width: 30px;">
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height: 20px;">
							&nbsp;
						</td>
					</tr>			
					
<!-- Module Message -->
					<tr>
						<td>
							<table width="100%" cellpadding="30" cellspacing="0" style="background-color: #FFFFFF;">
								<tr>
									<td>
											<%= yield %>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height: 20px;">
							&nbsp;
						</td>
					</tr>

<!-- Module Sender -->

<!-- Module Footer -->
					<tr>
						<td>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<th width="400" align="left" style="vertical-align:top; padding:0 30px;">
										<table width="100%" cellpadding="0" cellspacing="0" align="left">
											<tr>
												<td style="text-align:left">
													<span style="font-weight: normal;font-size: 9pt;font-family: Arial, Helvetica, sans-serif; color:#000000; padding:0 0 7.5pt;text-align: left;line-height: 10.5pt;">
													&copy; 2022 Hewlett Packard Enterprise Development LP
													<br />
													<br />
													HPE Internal Use Only 
													</span>
												</td>
											</tr>
										</table>
									</th>
									<th width="150" align="left" style="vertical-align:top; padding:0 30px;">
										<table align="right" cellpadding="0" cellspacing="0">
											<tr>
												<td>
													<span style="line-height:0; padding:2.25pt 0 0;">
														<a title="HPE Insider" target="_blank" style="text-decoration:none;" href="https://home.hpe.com/">
															<%= email_image_tag("HPE_eNewsletter_icon_home.png", border: "0", style: "font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;", align: "left", vspace: "0", hspace: "0", width: "20", height: "20", alt: "home") %>
															</a>
													</span>
												</td>
												<td style="width: 7.5pt;">
													<span>&nbsp;</span>
												</td>
												<td>
													<span style="line-height:0; padding:2.25pt 0 0;">
														<a title="LinkedIn" target="_blank" style="text-decoration:none;" href="https://www.linkedin.com/company/hewlett-packard-enterprise">
															<%= email_image_tag("HPE_eNewsletter_icon_in.png", border: "0", style: "font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;", align: "left", vspace: "0", hspace: "0", width: "20", height: "20", alt: "in") %></a>
													</span>
												</td>
												<td style="width: 7.5pt;">
													<span>&nbsp;</span>
												</td>
												<td>
													<span style="line-height:0; padding:2.25pt 0 0;">
														<a title="Twitter" target="_blank" style="text-decoration:none;" href="http://www.twitter.com/HPE">
															<%= email_image_tag("HPE_eNewsletter_icon_tw.png", border: "0", style: "font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;", align: "left", vspace: "0", hspace: "0", width: "20", height: "20", alt: "tw") %>
															</a>
													</span>
												</td>
												<td style="width: 7.5pt;">
													<span>&nbsp;</span>
												</td>
												<td>
													<span style="line-height:0; padding:2.25pt 0 0;">
														<a title="Facebook" target="_blank" style="text-decoration:none;" href="http://www.facebook.com/HewlettPackardEnterprise">
															<%= email_image_tag("HPE_eNewsletter_icon_fb.png", border: "0", style: "font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;", align: "left", vspace: "0", hspace: "0", width: "20", height: "20", alt: "fb") %>
															</a>
													</span>
												</td>
											</tr>
										</table>
									</th>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>